/*
28.125em=450px
47.813em=765px
68.75em=1100px
*/

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #0b4c1a;
  --secondary: #ffffff;
}

.open-sans-body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

body {
  background-color: var(--primary);
  color: var(--secondary);
  height: 100dvh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

html {
  font-size: 62.5%;

  @media screen and (max-width: 47.813em) {
    font-size: 56.25%;
  }
}

.container1 {
  display: flex;
  flex-direction: row;
}

.container1 .number {
  font-size: 20rem;
  font-weight: 400;
  margin: 0 1rem;
  background-color: var(--secondary);
  color: var(--primary);
  box-shadow: 0rem 0rem 0.5rem 0rem var(--secondary);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 2rem;
  border-radius: 2rem;

  span {
    font-size: 5rem;
    font-weight: 300;
  }

  @media screen and (max-width: 68.75em) {
    font-size: 10rem;
  }

  @media screen and (max-width: 47.813em) {
    font-size: 7rem;
    padding: 1.2rem;

    span {
      font-size: 2.5rem;
    }
  }

  @media screen and (max-width: 28.125em) {
    font-size: 5rem;
    padding: 1rem;

    span {
      font-size: 2rem;
    }
  }
}
/*
28.125em=450px
47.813em=765px
68.75em=1100px
*/
.container2 {
  margin: 2rem;

  button {
    color: var(--primary);
    background-color: var(--secondary);
    font-size: 2.5rem;
    font-weight: 300;
    padding: 1rem 2rem;
    border-radius: 2rem;
    border: none;
    width: 20rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:disabled {
      cursor: not-allowed;
    }

    &:not(:last-child) {
      margin-right: 2rem;
    }

    &:hover {
      background-color: var(--primary);
      color: var(--secondary);
      box-shadow: 0 0 1rem 0 var(--secondary);
    }
  }

  @media screen and (max-width: 68.75em) {
    button {
      width: 15rem;
    }
  }

  @media screen and (max-width: 47.813em) {
    button {
      width: 10rem;
      font-size: 2rem;
      padding: 1rem 1.5rem;
    }
  }

  @media screen and (max-width: 28.125em) {
    button {
      width: 8rem;
      font-size: 1.6rem;
      padding: 0.8rem 1rem;

      &:not(:last-child) {
        margin-right: 1rem;
      }
    }
  }
}
